<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.umasurakod.groupathon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Groupathon"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".AccountActivity.LoginActivity" />
        <activity android:name=".AccountActivity.SignupActivity" />
        <activity android:name=".AccountActivity.ResetPasswordActivity" />
        <activity android:name=".create_group" />
        <activity android:name=".AccountActivity.SettingActivity" />
        <activity android:name=".Group_details" />
        <activity android:name=".Group_members" />
        <activity android:name=".Group_itemchecklist" />
        <activity android:name=".my_grouplist" />
        <activity android:name=".join_group" />
        <activity android:name=".Category_groups" />
        <activity android:name=".myJoinedGroups"></activity>
    </application>

</manifest>